<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PulsaBox.My.MySettings.DbPulsaBoxConnectionString"
            connectionString="Data Source=DESKTOP-QPGSCCU\SQLEXPRESS;Initial Catalog=DbPulsaBox;Persist Security Info=True;User ID=TOKO;Password=toko123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>